<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- external css -->
    <link rel="stylesheet" type='text/css' href="\css\styles.css">

    <title>Dashboard</title>
</head>

<body>
    <div class="container center">
        <div class="m-top text-center">
            <br><br>

            <!-- ANJANABA -->
            <h3>ANJANABA</h3>
            <iframe class="sheet"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmMc2_yBLLNp29p8FnShwrpddihzs3EMUTAtMomhttbCtC_Ul3hJ-RHMmcr3ylCOwXaS2aU1TQEo3k/pubhtml?gid=1909593684&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            <br><br>

            <!-- CHIRAG -->
            <h3>CHIRAG</h3>
            <iframe class="sheet"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmMc2_yBLLNp29p8FnShwrpddihzs3EMUTAtMomhttbCtC_Ul3hJ-RHMmcr3ylCOwXaS2aU1TQEo3k/pubhtml?gid=1453571834&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            <br><br>

            <!-- HANIK -->
            <h3>HANIK</h3>
            <iframe class="sheet"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmMc2_yBLLNp29p8FnShwrpddihzs3EMUTAtMomhttbCtC_Ul3hJ-RHMmcr3ylCOwXaS2aU1TQEo3k/pubhtml?gid=888526193&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            <br><br>

            <!-- VKJITHESH -->
            <h3>VKJITHESH</h3>
            <iframe class="sheet"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmMc2_yBLLNp29p8FnShwrpddihzs3EMUTAtMomhttbCtC_Ul3hJ-RHMmcr3ylCOwXaS2aU1TQEo3k/pubhtml?gid=1412629706&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            <br><br>

            <!-- MRUGESH -->
            <h3>MRUGESH</h3>
            <iframe class="sheet"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmMc2_yBLLNp29p8FnShwrpddihzs3EMUTAtMomhttbCtC_Ul3hJ-RHMmcr3ylCOwXaS2aU1TQEo3k/pubhtml?gid=579402442&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            <br><br>

            <!-- PAYAL -->
            <h3>PAYAL</h3>
            <iframe class="sheet"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmMc2_yBLLNp29p8FnShwrpddihzs3EMUTAtMomhttbCtC_Ul3hJ-RHMmcr3ylCOwXaS2aU1TQEo3k/pubhtml?gid=463902376&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            <br><br>

            <!-- SANJAY -->
            <h3>SANJAY</h3>
            <iframe class="sheet"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmMc2_yBLLNp29p8FnShwrpddihzs3EMUTAtMomhttbCtC_Ul3hJ-RHMmcr3ylCOwXaS2aU1TQEo3k/pubhtml?gid=1133876798&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            <br><br>

            <!-- TIMIR -->
            <h3>TIMIR</h3>
            <iframe class="sheet"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmMc2_yBLLNp29p8FnShwrpddihzs3EMUTAtMomhttbCtC_Ul3hJ-RHMmcr3ylCOwXaS2aU1TQEo3k/pubhtml?gid=1858277782&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
            <br><br>

            <!-- VIJAY -->
            <h3>VIJAY</h3>
            <iframe class="sheet"
                src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRmMc2_yBLLNp29p8FnShwrpddihzs3EMUTAtMomhttbCtC_Ul3hJ-RHMmcr3ylCOwXaS2aU1TQEo3k/pubhtml?gid=1477171736&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

        </div>
    </div>
</body>

</html>